results/*
logs/
__pycache__/

# Builds
*.apk
*.unitypackage
*.app
*.exe
*.x86_64
*.x86

__pycache__/
*.pyc
*.vscode
*.pytest_cache/
.DS_Store
animalai/animalai.egg-info/
configs/BgeonTasks/
configs/object_permanence/
*.bin
test_images/
*.pt
*.txt
*.png
